body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#575757
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

header ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

header ul li {
    display: inline;
}

header ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

header ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

main {
    padding: 20px;
    color: rgb(248, 248, 121);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.project {
    margin-bottom: 20px;
}

.project h2 {
    margin: 0;
}

.about__container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.skills__container {
    background-color: #333; 
    max-width: 900px; 
    margin: 100px auto; 
    padding: 9px; 
    display: grid; /* this sets the display to grid */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* this sets the grid-template-columns to repeat(auto-fit, minmax(200px, 1fr)) */
    column-gap: 10px; /* this sets the column-gap to 10px */
    row-gap: 10px; /* this sets the row-gap to 10px */
    grid-template-rows: minmax(100px, auto);  /* this sets the grid-template-rows to minmax(100px, auto) */
    align-items: end; /* this sets the align-items to end */
  }